{{define "content"}}
<section class="container">
  <div class="columns">
    <div class="column">
      <p>Your short url is: <a href="/r/{{.ID}}">{{.ID}}</a></p>
      <form class="mt-10" action="/e/{{.ID}}" method="POST">
        <div class="form-group input-group">
          <input class="form-input column col-1" type="text" name="id" value="{{.ID}}" />
          <input class="form-input" type="text" name="url" value="{{.URL}}" placeholder="Enter long url here..." />
          <button class="btn btn-primary" type="submit">Edit</button>
          <a class="btn btn-action" href="/u/{{.ID}}">
            <i class="icon icon-forward">View</i>
          </a>
        </div>
      </form>
    </div>
  </div>
</section>
{{end}}
