{{define "content"}}
<section class="container">
  <div class="columns">
    <div class="column">
      {{ range $URL := .URLList }}
        <div class="input-group mb-5">
          <span class="input-group-addon d-inline-block">
            {{ $URL.ID }}
            <i class="icon icon-forward"></i>
            {{ $URL.URL -}}
          </span>
          <a class="btn btn-action btn-primary" href="/u/{{$URL.ID}}">
            <i class="icon icon-forward">View</i>
          </a>
          <a class="btn btn-action" href="/e/{{$URL.ID}}">
            <i class="icon icon-edit">Edit</i>
          </a>
          <a class="btn btn-action" href="/d/{{$URL.ID}}">
            <i class="icon icon-delete">Delete</i>
          </a>
        </div>
      {{end}}
      <form class="mt-10" action="" method="POST">
        <div class="form-group input-group">
          <label class="form-label" for="input-url"></label>
          <input class="form-input" id="input-url" type="text" name="url" placeholder="Enter long url here..." autofocus>
          <button class="btn btn-primary" type="submit">Shorten</button>
        </div>
      </form>
    </div>
  </div>
</section>
{{end}}
